<main class="main">
  <default-content-projection></default-content-projection>
  <!-- <default-content-projection>
    <img src="/club-people.jpeg" alt="people in the club" />
  </default-content-projection> -->
  <!-- <named-content-projection>
  </named-content-projection> -->
  <!-- <named-content-projection>
    <img class="the-window" src="/the-window.jpg" alt="the window" />
    <img class="the-wall" src="/the-wall.png" alt="the wall" />
    <img src="/club-people.jpeg" alt="people in the club" />
  </named-content-projection> -->
  <!-- <named-content-projection>
    <img ngProjectAs="the-window" src="/the-window.jpg" alt="the window" />
    <img src="/club-people.jpeg" alt="people in the club" />
    <img ngProjectAs="the-wall" src="/the-wall.png" alt="the wall" />
  </named-content-projection> -->
</main>

<router-outlet />
